#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.columns {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
}
.selected {
  color: var(--color-highlight);
}

div {
  margin-bottom: 0.5rem;
}

.version {
  font-size: 12px;
  font-weight: normal;
}
.description {
  text-align: left;
  max-width: 800px;
  font-size: 12px;
}
