#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

canvas {
  max-width: 90vw;
  max-height: 90vw;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.selected {
  color: var(--color-highlight);
}

.version {
  font-size: 12px;
  font-weight: normal;
}
.description {
  text-align: left;
  max-width: 800px;
  font-size: 12px;
}
