#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div {
  margin-bottom: 0.5rem;
}
button {
  margin: 0 0.25rem 0.25rem 0;
}
button.selected {
  background-color: #646cff;
  color: #ffffff;
}
