@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700");

:root {
  --color-fg: #eeffee;
  --color-bg: #31282d;
  --color-button: #1a1a1a;
  --color-focus: #535bf2;
  --color-selected: #646cff;
  --color-highlight: #ff44cc;

  font-family: "Space Mono", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-selected);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-focus);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
}
h1,
h2 {
  text-shadow: 0 2px 1px #00000033;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: lowercase;
  background-color: var(--color-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
  margin: 0 0.25rem 0.25rem 0;
}
button.selected {
  background-color: var(--color-selected);
  color: var(--color-fg);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-fg: #917eb6;
    --color-bg: #e6e7e4;
    --color-button: #f9f9f9;
    --color-focus: #747bff;
    --color-selected: #5579ba;
  }
  a {
    font-weight: bold;
  }
  button.selected {
    color: #ffffff;
  }
}
